.DS_Store
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
*.nc
*.dmp
*.restart
*.log
*.pid
*.vts
*.vtu
*.vtk
*.vtm
!run_stellarator/paraview_exports/traced_movie_surfaces.vtm
!run_stellarator/paraview_exports/traced_field_lines_middle.vtm
!run_stellarator/paraview_exports/traced_field_lines_outer.vtm
/build/
