.DS_Store
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
plot/outputs/*.mp4
plot/outputs/*.png
*.nc
*.vts
*.vtu
*.vtk
*.vtm
!run_dommaschk/paraview_exports/traced_movie_surfaces.vtm
!run_dommaschk/paraview_exports/traced_field_lines_middle.vtm
!run_dommaschk/paraview_exports/traced_field_lines_outer.vtm
run_dommaschk/paraview_exports/temperature_field_lines_middle.vtm
run_dommaschk/paraview_exports/temperature_field_lines_outer.vtm
run_dommaschk/paraview_exports/traced_temperature_surfaces.vtm
run_dommaschk/paraview_exports/traced_field_lines_middle/
run_dommaschk/paraview_exports/traced_field_lines_outer/
run_dommaschk/paraview_exports/traced_movie_surfaces/
run_dommaschk/paraview_exports/temperature_field_lines_middle/
run_dommaschk/paraview_exports/temperature_field_lines_outer/
run_dommaschk/paraview_exports/traced_temperature_surfaces/
run_dommaschk/data/.BOUT.pid.*
run_dommaschk/data/BOUT.dmp*.nc
run_dommaschk/data/BOUT.log.*
run_dommaschk/data/BOUT.restart*.nc
run_dommaschk/data/BOUT.settings
run_dommaschk/probe_small/
run_coils/data/.BOUT.pid.*
run_coils/data/BOUT.dmp*.nc
run_coils/data/BOUT.log.*
run_coils/data/BOUT.restart*.nc
run_coils/data/BOUT.settings
run_coils/outputs/
run_coils/probe_small/
/build/
