.DS_Store
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
plot/outputs/*.mp4
plot/outputs/*.png
*.nc
*.vts
*.vtu
*.vtk
*.vtm
!run_stellarator/paraview_exports/traced_movie_surfaces.vtm
!run_stellarator/paraview_exports/traced_field_lines_middle.vtm
!run_stellarator/paraview_exports/traced_field_lines_outer.vtm
run_stellarator/paraview_exports/temperature_field_lines_middle.vtm
run_stellarator/paraview_exports/temperature_field_lines_outer.vtm
run_stellarator/paraview_exports/traced_temperature_surfaces.vtm
run_stellarator/paraview_exports/traced_field_lines_middle/
run_stellarator/paraview_exports/traced_field_lines_outer/
run_stellarator/paraview_exports/traced_movie_surfaces/
run_stellarator/paraview_exports/temperature_field_lines_middle/
run_stellarator/paraview_exports/temperature_field_lines_outer/
run_stellarator/paraview_exports/traced_temperature_surfaces/
run_stellarator/data/.BOUT.pid.*
run_stellarator/data/BOUT.dmp*.nc
run_stellarator/data/BOUT.log.*
run_stellarator/data/BOUT.restart*.nc
run_stellarator/data/BOUT.settings
/build/
